/* importation de la police 'Poppins' de Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;900&display=swap');

body{
   width: 100%;
   height: 100%;
   margin:auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   font-family: "Poppins", sans-serif;
   font-weight: 800;
}

 #presentation-barr{
   display: flex;
   width: 100%;
   column-gap: 305px;
   border-bottom: solid 0.5px lightgrey;
 }

 .logo{
   display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 418px;
    margin-left: 30px;
}


.logo img{
   width: 11vw;
   height: 22vh;
}

#navigation{
   width: 100%;
   display: flex;
   justify-content: center;
   box-shadow: 0px 11px 24px -10px rgba(66, 68, 90, 1);
}

.link-container{
   display: flex;
}

ul{
   display: flex;
   list-style-type: none;
   text-decoration: none;
   
}

.link-container{
   font-size: 20px;
   gap: 90px;
}

.link{
   color: black;
   font-weight: 400px;
   text-decoration: none;
   transition: all .2s ease-in-out;
}

.link:hover{
   color: white;
   background:linear-gradient(#DCD3E8, #C5B5D9);
   padding: 8px 16px;
   border-radius: 8px;
   border: solid 2.5px linear-gradient(rgb(225, 218, 207), rgb(200, 200, 202));
}

.avatar{
   width: 45px;
   height: 45px;
   border: solid 2px black;
   border-radius: 100%;
   object-fit: cover;
}

.button-container{
   display: flex;
   align-items: center;
   gap: 25px;
   padding-right: 20px;
}

.button{
   width: fit-content;
   display: flex;
   align-items: center;
   justify-content: center;
   text-decoration: none;
   padding: 8px 16px;
   border-radius: 8px;
   border: solid 2.5px linear-gradient(#ba79f8, #8005F2);
   font-weight: 500;
   transition: all .2s ease-in-out all .3s ease-out;
}


.button:hover{
   color: white;
   padding: 8px 16px;
   border-radius: 8px;
   border: solid 2.5px linear-gradient(rgb(225, 218, 207), rgb(200, 200, 202));
   transition: all .2s ease-in-out;
}

.primary{
   background:linear-gradient(#dbccef, #bfabd7);
   color: white;
}

.primary:hover{
   background:linear-gradient(#DCD3E8, #C5B5D9);
   transition: all .2s ease-in-out;
}

main{
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
}

.hero{
   height: 90vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background: url("images/coussinscrochet.png");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   text-align: center;
   margin-bottom: 400px;
}


.hero h1, .hero p{
   margin: 0;
   text-transform: uppercase;
   color: white;
}

.hero h1{
   font-size: 60px;
}

.hero p{
   font-size:  20px;
   font-weight: 400;
}


.cards-box{
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   background: #DCD3E8;
}

 
.cards-box-tittle{
   color: white;
   font-size: 50px;
   margin: 100px 0px 20px 0px;
}

.cards-container{
   width: 100%;
   height: 95vh; 
   display: flex;
   justify-content: center;
   align-items: center;
   column-gap: 50px;
}

.card{
   width: 21%;
   height: 60vh;
   background: white;
   border-radius: 20px;
   overflow: hidden;
   padding-bottom: 40px;
   transition: all .3s ease-in-out;
   box-shadow: 0px 11px 24px -10px rgba(66, 68, 90, 1);
}

.card img{
   height: 35vh;
   width: 100%;
   object-fit: cover;
}

 .cardinfo{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.cardprice{
   display: flex;
   align-items: center;
   gap: 60px;
}

.cardinfo p{
   font-size: 8px;
   margin: 10px 20px 20px 20px;
}

.cardprice h2{
   font-size: 14px;
}

.cardprice h3{
   font-size: 14px;
   color: #ba79f8;
}

 .card:hover{
   transform: scale(1.1);
}

footer{
   width: 100%;
   display: flex;
   justify-content: center;
  
}

.footer{

}